<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="{{ path('article_index') }}">
        📰 ArticlesApp
      </a>
      <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createModal">
        + Nouvel article
      </button>
    </div>
  </nav>
</header>